@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #818CF8 #161616;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: #0e0d0d;
}

*::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #818cf8;
}
*::-webkit-scrollbar-thumb:active {
  background-color: #a4adfc;
}
